# This requirements.txt establishes clear (==) library dependencies,
# the library is developed/testing on these versions of the modules. 
# More free versions are specified in setup.py so as not to conflict
# with already installed libraries. If you want to have clear versions
# of dependencies, use requirements.txt, otherwise setup.py.

base58check==1.0.2
ecdsa==0.17.0
pytest==6.2.5
pytest-repeat==0.9.1
requests==2.26.0