# This requirements.txt establishes clear (==) library dependencies,
# the library is developed/testing on these versions of the modules.
# More free versions are specified in setup.py so as not to conflict
# with already installed libraries. If you want to have clear versions
# of dependencies, use requirements.txt, otherwise setup.py.

base58check~=1.0.2
ecdsa~=0.19.0
pytest~=8.2.2
pytest-repeat~=0.9.3
httpx~=0.27.0